* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: chocolate;
    margin-bottom: 20px;
}

section {
    margin-top: 15%;
}

.question {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.question:hover {
    cursor: pointer;
}

.question-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    border-radius: 25px;
}

.question-title p {
    color: chocolate;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.close-btn {
    border: 0;
    background-color: transparent;
    padding: 15px;
}

.plus-icon i,
.minus-icon i {
    border: 2px solid chocolate;
    margin-right: 5px;
    padding: 4px;
}

.plus-icon i:hover,
.minus-icon i:hover {
    transform: rotate(90deg);
    transition: transform 0.5s;
    cursor: pointer;
}

.fa-plus,
.fa-minus {
    color: chocolate
}

.minus-icon {
    display: none;
}

.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
    text-align: center;
}

.show-text .minus-icon {
    display: inline-block;
}

.show-text .plus-icon {
    display: none;
}
