body nav div a:hover {
    text-decoration: none;
}

main {
    padding-top: 250px;
    padding-bottom: 250px;
}

main div p {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border-radius: 40px;
    font-weight: 700;
    font-size: large;
}
