body main {
    margin-top: 5%;
}

body main {
    text-align: center;
}

body main div div img {
    width: 15%;
    height: 250px;
}

body main div div p {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
}

.btn {
    margin-top: 20px;
}
