.pre-loader {
    z-index: 1000;
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: white;
    padding-top: 15%;
}

.video-container video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -2;
}

.title {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 25%;
    z-index: 100;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: all 0.3s linear;
}

.switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: #49a6e9;
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #49a6e9;
    border-radius: 0.5rem;
    margin: 0;
    display: block;
    transition: all 0.3s linear;
}

.slide .switch {
    left: 50%;
}
